.mdc_sticky_bar {
	position: fixed;
	width: 100%;
	height: 32px;
	z-index: 999;
	padding: 5px
}

.mdc_left {
	float: left;
}
.mdc_col {
	width: 33%;
}
.mdc_h3{
	font-size: 17px;
	margin: 5px auto;
	padding: 0 0 0 20px;
	font-family: candara
}
.mdc_credit p {
	color: #fff;
	float: right;
	line-height: 30px;
	margin: auto;
	padding-right: 20px;
}
.mdc_credit p a{
	color: #fff;
	text-decoration: none
}
.mdc_form select {
	width: 100%;
}